src/main/resources/schema/Receivers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  RECONSTRUCTED Receivers.xsd — see routing-mvp-JOURNAL.md N1.
  The official Step04 "Custom Receiver Determination" Receivers.xsd was NOT present in the repo or
  reference dirs. This schema is rebuilt strictly from the PRD §D7 documented schema facts
  (authoritative there): types, cardinalities, maxLengths, and the "never stricter than the XSD"
  principle. elementFormDefault="unqualified" matches the §D6 wire example (root ns0:Receivers
  qualified; inner Receiver/Service/Interfaces/... unqualified).
  ACTION: replace with the official Step04 Receivers.xsd when sourced, then re-run P3/P4.
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="http://sap.com/xi/XI/System"
            targetNamespace="http://sap.com/xi/XI/System"
            elementFormDefault="unqualified"
            attributeFormDefault="unqualified">

    <xsd:element name="Receivers" type="tns:ReceiversType"/>

    <xsd:complexType name="ReceiversType">
        <xsd:sequence>
            <xsd:element name="ReceiverNotDetermined" type="tns:ReceiverNotDeterminedType" minOccurs="0"/>
            <xsd:element name="Receiver" type="tns:ReceiverX" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ReceiverNotDeterminedType">
        <xsd:sequence>
            <!-- Type is xsd:string, NOT a restricted enum (PRD §D7). -->
            <xsd:element name="Type" type="xsd:string"/>
            <!-- DefaultReceiver is a full ReceiverX, optional (NOT an empty element / bare name). -->
            <xsd:element name="DefaultReceiver" type="tns:ReceiverX" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ReceiverX">
        <xsd:sequence>
            <xsd:element name="Party" minOccurs="0">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:extension base="tns:String60">
                            <xsd:attribute name="agency" type="tns:String120"/>
                            <xsd:attribute name="scheme" type="tns:String120"/>
                        </xsd:extension>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Service" type="tns:String60"/>
            <xsd:element name="Interfaces" type="tns:InterfacesType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="InterfacesType">
        <xsd:sequence>
            <xsd:element name="Interface" type="tns:InterfaceType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="InterfaceType">
        <xsd:sequence>
            <!-- Index is xsd:string and OPTIONAL (never required, never coerced to int). -->
            <xsd:element name="Index" type="xsd:string" minOccurs="0"/>
            <!-- Service (the ProcessDirect endpoint) is required. -->
            <xsd:element name="Service" type="xsd:string"/>
            <xsd:element name="Name" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="String60">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="String120">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="120"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>
